

.containercard {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}


.rowcard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.cardcard {
  width: 30%;

  background: #051e3d;

  margin-bottom: 25px;
 
}

.card-headercard {
  text-align: center;
  padding: 10px 10px;
  background-color: #051e3d;
  color: white;
  font-size: 14px;
}

.card-bodycard {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10);
}

.card-bodycard .btn {
  display: block;
  color: #fff;
  text-align: center;
  background-color: #051e3d;
  margin-top: 30px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 5);
  padding: 10px 5px;
}
.card-bodycard .btn:hover{
  background:transparent;
  box-shadow:0 0 20px #818181;
transition: .5s;
color:white;

}
.cardcard:hover {
 
 box-shadow:0 0 40px #818181;

}

@media screen and (max-width: 1000px) {
  .cardcard {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .containercard {
    width: 100%;
  }

  .headingcard {
    padding: 20px;
    font-size: 20px;
  }

  .cardcard {
    width: 80%;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
.reveal1{
  position: relative;
  left:-100px;
  opacity: 0;
  transition: all 1s ease;
}

.reveal1.active{
  left:0;
  opacity: 1;
}

.foot{
  text-align: center;
}

.contactme {
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10);
}
.contactme:hover{
box-shadow:0 0 40px #818181;

}





#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid white;
  background: #051e3d;
  margin: 0 0 5px;
  padding: 10px;
  color: white;
  font-family: Verdana;
}



#contact textarea {
  height: 150px;
  max-width: 100%;
   
}

button {
  border: none;
}
.submit {
   cursor: pointer;
   position: relative;
   padding: 10px 20px;
   margin: 10px;
   background: #051e3d;
   font-size: 18px;
   color: white;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   transition: all 1s;
   box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 10);

}


 .submit:after, .submit:before {
   content: " ";
   width: 10px;
   height: 10px;
   position: absolute;
   border: 0px solid #fff;
   transition: all 1s;
}
 .submit:after {
   top: -1px;
   left: -1px;
   border-top: 5px solid white;
   border-left: 5px solid white;
}
 .submit:before {
   bottom: -1px;
   right: -1px;
   border-bottom: 5px solid white;
   border-right: 5px solid white;
}
 .submit:hover {
   border-top-right-radius: 0px;
   border-bottom-left-radius: 0px;

}
 .submit:hover:before, .submit:hover:after {
   width: 100%;
   height: 100%;

}
